*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Sans-Serif';
}
html, body{
    height: 100%;
    width: 100%;
}
body{
    background-color: #F8F7F4;
}
#page1{
    height: 100%;
    width: 100%;
    /* background-color: red; */
}
 #nav{
    height: 110px;
    width: 100%;
    /* background-color: rgb(65, 225, 172); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}

#nav-part1{
    width: 30%;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav-part1 h4{
    font-size: 15px;
}
#nav-part2{
    width: 30%;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#nav-part2 button{
    font-weight: 600;
    border: none;
    background-color: black;
    color: white;
    padding: 12px 17px;
    border-radius: 50px;
    font-size: 15px;
    margin: 0 10px;
}
#nav-part2 button:nth-child(1){
    background-color: transparent;
    color: #000;
}
#nav img{
    height: 90px;
}

#page1 #content{
    height: calc(100% - 110px);
    width: 100%;
    /* background-color: crimson; */
    padding-top: 90px;
}
#content h3{
    background-color: #F2B0EA;
    padding: 7px 13px;
    width: fit-content;
    border-radius: 50px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 17px;
}
#content h1{
    font-size: 80px;
    font-weight: 100;
    text-align: center;
    margin: 15px 0;
    line-height: 80px;

}
#content h4{
    font-size: 20px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 20px;
}
#content button{
    font-weight: 600;
    border: none;
    background-color: black;
    color: white;
    padding: 12px 17px;
    border-radius: 50px;
    font-size: 15px;
    margin: 0 10px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 25px;
    margin-bottom: 20px;
    font-family: "source serif 4";
}
#bottom{
    height: 300px;
    width: 100%;
    /* background-color: red; */
    padding: 5px;
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
    overflow-x: auto;
    overflow-y: hidden;
}
#bottom::-webkit-scrollbar{
    display: none;
}
.elem{
    width: 250px;
    height: 100%;
    background-color: royalblue;
    /* border: 2px solid black; */
    flex-shrink: 0;
    border-radius: 20px;
    margin-right: 10px;
    overflow: hidden;
    position: relative;
}
.elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.elem video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.elem .text-bottom{
    height: 30%;
    width: 100%;
    /* background-color: black; */
    position: absolute;
    bottom: 0;
}
.text-bottom .hero-marquee-item__name{
    position: absolute;
    top: 0;
    left: 5%;
    color: white;
    font-size: 15px;

}
.text-bottom .hero-marquee-item__title{
    position: absolute;
    top: 20%;
    left: 5%;
    color: white;
    font-size: 15px;
    
}
.text-bottom .hero-marquee-item__tags{
    text-decoration: none;
    display: flex;
    position: absolute;
    bottom: 20%;
    left: 5%;
  
}
.hero-marquee-item__tags .hero-marquee-item__tag{
    font-size: 15px;
    color: white;
    margin-left: 15%;
    border: 0.5px solid white;
    padding: 5px;
    border-radius: 10px;
}
#page2{
    height: 100%;
    width: 100%;
    /* background-color: pink; */
    margin-top: 9%;
    position: relative;
    padding: 50px;
}
.box{
    height: 280px;
    width: 340px;
    background-color: red;
    border-radius: 10px;
    overflow: hidden;
    display: inline-block;
    margin: 10px;
    position: relative;
}
.box img{
    height: 100%;
    width: 100%;
    object-fit:cover;

}
#page2 h1{
    text-align: center;
    font-weight: 500;
    font-size: 50px;
}
.box .box-bottom{
    height: 40%;
    width: 100%;
    background: linear-gradient(transparent,rgba(49, 46, 46, 0.726));
    position: absolute;
    bottom: -40%;
    transition: all ease 0.3s;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
.box-bottom i{
    background-color: #fff;
    color: #000;
    padding: 8px 9px;
    border-radius: 50%;
    font-size: 15px;
}
.box-bottom h5{
    font-size: 16px;
    font-weight: 500;
}
.box:hover .box-bottom{
    bottom: 0;
}
.box:hover{
    box-shadow: 3px 3px 10px black;
}